/* CSS Geral - Cabeçalho e rodapé*/

body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: chartreuse;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    height: 100px;
    left: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    img {
        height: 100px;
        left: 100px;
    }
    a#ig {
       img{
        height: 30px;
        left: 30px;
       }
    }
    a#face {
        img{
            height: 30px;
            left: 30px;
           }
    }
    div.botao{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }
}

 footer {
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
       
    img {
        height: 100px;
        left: 100px;
    }
    
}

a {
    text-decoration: none; 
}

a:hover{
    color: red;
 }

 /* Tela "Sobre Nós"*/

section#princ {
    display: flex;
    justify-content: space-around;
    padding: 5rem 1rem;
    img {
        height: 490px;
        width: 1200px;
    }

}

