/* Tela Coleta Domiciliar*/
@charset "UTF-8";

h1, h2 {
  text-align: center;
  font-size: 26px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(2, 62, 138, 1);
} 
h3 {
  height: 200px; 
  width: 400px;
  color: #582f0e;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans  Unicode', Geneva,      Verdana, sans-serif;
  text-align: justify;
  align-items: center;
  justify-content: center;
  margin: auto;
}
  #inicio{
     align-items: center;
     text-align: center;
           
      p {
         height: 100px; 
         width: 900px;
         color: #582f0e;
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         font-size: 20px;
         text-align: justify;
         padding: 50px;
         align-items: center;
         justify-content: center;
         margin: auto;
        }
  }
  .pesquisa{  
      height: 200px; 
      width: 900px;
      color: #582f0e;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      text-align: justify;
      padding: 50px;
      align-items: center;
      justify-content: center;
      margin: auto;
      
  }

#formColetor{
    margin: auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    border-radius: 20px;
    label{
    font-size:18px;
    font-weight: 600;
    color: #023E8A;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  input{
   height: 25px; 
   width: 1200px;
   box-shadow: 1px 1px 6px #0f0f0f1c;
   background-color: #D9D9D9;
   border-radius:20px ;
   font-size:18px;
   font-weight: 600;
   color: #023E8A;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
    
  }
  option{
    font-size:18px;
    font-weight: 600;
    color: #023E8A;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D9D9D9;
  }
}

#cadastroColetor{
  
  justify-content: center; 
  padding: 20px;
  

  .container1{
        display: flex;
        justify-content: space-around;
        margin: auto;
        border: 3px, solid, black; 
        align-items: center;
        padding: 20px;
    
     a{
    border: 1px solid ,#38b000;
    border-radius: 10px;
    background-color: #38b000;
    color: white;
    display: flex;
    width: 200px;
    align-items: center;  
      }
       .imagem{
       height: 100px;
       width: 100px;
       display:flex;
       justify-content:space-around;
       align-items: center;
       border: 1px solid #ccc; 
       box-shadow: 10px 10px 10px black; 
       padding: 20px;
        }
        h2{
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         color: #023e8a;
         padding: 20px;
         }    
    }
   
    .container2{
       
        padding: 20px;
        display: flex;
        justify-content: space-around;
        margin: auto;
        border: 3px, solid, black; 
        border-width: 3px;
        align-items: center;
       
       a{
        border: 1px solid ,#38b000;
        border-radius: 10px;
        background-color: #38b000;
        color: white;
        display: flex;
        width: 200px;
        align-items: center;
       
        }
       .imagem{
        height: 100px;
        width: 100px;
        display: block;
        justify-content:space-around;
        align-items: center;  
        box-shadow: 20px 20px 20px black;
       }
       h2{
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         color: #023e8a;
         align-items: center;
         justify-content: space-around;
         

        }
      }
}  
.maria{
 align-items: center;
 box-shadow: 5px 5px 10px #582f0e;
  padding: 15px;
}
.joao{
  align-items: center;
  box-shadow: 5px 5px 10px #582f0e;
  padding: 15px;
 }
 .paulo{
  align-items: center;
  box-shadow: 5px 5px 10px #582f0e;
  padding: 15px; 
 }
 .jose{
  align-items: center;
  box-shadow: 5px 5px 10px #582f0e;
  padding: 15px;  
 }
 .cataki{
  align-items: center;
  box-shadow: 5px 5px 10px #582f0e;
  padding: 15px;  
 }
 .fuca{
  align-items: center;
  box-shadow: 5px 5px 10px #582f0e;
  padding: 15px;  
 }