/* CSS Geral - Cabeçalho e rodapé*/

@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}
main {
    background-color:white;
    align-items: center;
    text-align: center;
    width: 1300px;
    padding: 20px;
    margin: auto;
}
nav {
    background-color: #38b000;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    height: 100px;
    left: auto;
    /*font-family: 'Roboto', sans-serif;*/
    img {
        height: 150px;
        left: 150px;
    }
    div.botao{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #bot{
        text-align: center;
        align-items: center;
        display: flex;
        justify-content:center;
        gap: 5px;
        margin-right: 10px;

        #log{
            background-color: rgba(2, 62, 138, 1);
            border-radius: 5px;
            color: white;
            display: flex;
            justify-content: center;
            width: 50px;
            font-size: 14px;
        }
        #log:hover{
            background-color: #fff;
            color: black;
        }
        #cad{
            background-color: rgba(2, 62, 138, 1);
            border-radius: 5px;
            color: white;
            display: flex;
            justify-content: center;
            width: 110px;
            font-size: 14px;
        }
        #cad:hover{
            background-color:#fff;
            transform: scale(1.2);
            color: black;
        }
    }    
}

footer {
    background-color:#38b000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 14px;
    font-family: 'Roboto', sans-serif;
       
    img {
        height: 100px;
        left: 100px;
    }
    
}

a {
    text-decoration: none;
    color: #023e8a;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}

a:hover{
    color: #fff;
    transform: scale(1.4);
 }
span{
    color: #023e8a;
}
.redes{
    margin-right: 60px;
}
.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem;
    gap: 15px;
}
#insta{
    width: 30px;
    height: 30px;
    color: #023e8a;
}
#insta:hover{
    color: #fffa;
    transform: scale(1.4);
    width: 30px;
    height: 30px;
}
#face{
    width: 30px;
    height: 30px;
    color: #023e8a;
}
#face:hover{
    color: #fff;
    transform: scale(1.4);
    width: 30px;
    height: 30px;
}