/* CSS Geral - Cabeçalho e rodapé*/

@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}
main {
    background-color:white;
    align-items: center;
    text-align: center;
    width: 1300px;
    padding: 20px;
    margin: auto;
}
nav {
    background-color: #38b000;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    height: 100px;
    left: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    img {
        height: 150px;
        left: 150px;
    }
    #icones{
        display: flex;
        margin-left: 4px;
    }
    
    a#ig {
       img{
        height: 30px;
        left: 30px;
       }
    }
    a#face {
        img{
            height: 30px;
            left: 30px;
           }
    }
    div.botao{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #bot{
        text-align: center;
        align-items: center;
        display: flex;
        justify-content:center;
        gap: 5px;
        margin-right: 10px;

        #log{
            background-color: rgba(2, 62, 138, 1);
            border-radius: 5px;
            color: white;
            display: flex;
            justify-content: center;
            width: 60px;
            font-size: 14px;
        }
        #log:hover{
            background-color: gray;
        }
        #cad{
            background-color: rgba(2, 62, 138, 1);
            border-radius: 5px;
            color: white;
            display: flex;
            justify-content: center;
            width: 120px;
            font-size: 14px;
        }
        #cad:hover{
            background-color:gray;
        }
    }    
}

 footer {
    background-color:#38b000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
       
    img {
        height: 100px;
        left: 100px;
    }
    
}

a {
    text-decoration: none;
    color: #023e8a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}

a:hover{
    color: gray;
 }
span{
    color: #023e8a;
}