/* Tela "Index" */

#princ{
    text-align: center;
    img{
        width: 900px;
    }
}
.sobre{
    max-width: 1000px;
    margin-left: 150px;
    h1{
        font-size: 36px;
        font-family: 'Roboto', sans-serif;
        color: #023e8a
    }
        }

    h3{
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        color:#582f0e
       
    }
    h2{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #582f0e;
}
.tipos{
    background-color: rgba(247, 247, 247, 1);
    padding: 20px;
    font-family: 'Roboto', sans-serif;

    #mater{
        h1{
            text-align: center;
            font-size: 26px;
            color: rgba(2, 62, 138, 1);
        }
    }    
    .container1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;

        #papel{
           background-image: url(/imagens/Papel_reduz.jpg);
           width: 350px;
           height: 280px;
           border-radius: 20px;
           display: flex;
           align-items: end;
           justify-content: center;
        }
        #vidro{
            background-image: url(/imagens/garrafas_vidro.jpg);
            width: 350px;
            height: 280px;
            border-radius: 20px;
            display: flex;
            align-items: end;
            justify-content: center;
        }
        #plastico{
            background-image: url(/imagens/plastico_reduz.jpg);
            width: 350px;
            height: 280px;
            border-radius: 20px;
            display: flex;
            align-items: end;
            justify-content: center;
        }
        .txt_papel{
            background-color: white;
            padding: 15px;
            border-radius: 15px;
            width: 280px;
            height: 100px;
            padding-top: 0;
            h2{
                font-size: 16px;
                color: rgba(2, 62, 138, 1);
            }
            h3{
                font-size: 12px;
            }
        }
        .txt_vidro{
            background-color: white;
            padding: 15px;
            border-radius: 15px;
            width: 280px;
            height: 100px;
            padding-top: 0;
            h2{
                font-size: 16px;
                color: rgba(2, 62, 138, 1);
            }
            h3{
                font-size: 12px;
            }
        }
        .txt_plast{
            background-color: white;
            padding: 15px;
            border-radius: 15px;
            width: 280px;
            height: 100px;
            padding-top: 0;
            h2{
                font-size: 16px;
                color: rgba(2, 62, 138, 1);
            }
            h3{
                font-size: 12px;
            }
        }
    }
    .container2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;

        #aluminio{
            background-image: url(/imagens/latas_aluminio.jpg);
            width: 350px;
            height: 280px;
            border-radius: 20px;
            display: flex;
            align-items: end;
            justify-content: center;
        }
        #organico{
            background-image: url(/imagens/organico_reduz.jpg);
            width: 350px;
            height: 280px;
            border-radius: 20px;
            display: flex;
            align-items: end;
            justify-content: center;
        }
        #eletronico{
            background-image: url(/imagens/lixo_eletrônico.jpg);
            width: 350px;
            height: 280px;
            border-radius: 20px;
            display: flex;
            align-items: end;
            justify-content: center;
        }
        .txt_metal{
            background-color: white;
            padding: 15px;
            border-radius: 15px;
            width: 280px;
            height: 100px;
            padding-top: 0;
            h2{
                font-size: 16px;
                color: rgba(2, 62, 138, 1);
            }
            h3{
                font-size: 12px;
            }
        }
        .organ{
            background-color: white;
            padding: 15px;
            border-radius: 15px;
            width: 280px;
            height: 100px;
            padding-top: 0;
            h2{
                font-size: 16px;
                color: rgba(2, 62, 138, 1);
            }
            h3{
                font-size: 12px;
            }
        }
        .eletro{
            background-color: white;
            padding: 15px;
            border-radius: 15px;
            width: 280px;
            height: 100px;
            padding-top: 0;
            h2{
                font-size: 16px;
                color: rgba(2, 62, 138, 1);
            }
            h3{
                font-size: 12px;
            }
        }
    }
}
#pilares{
    padding: 40px;
    font-family: 'Roboto', sans-serif;

}
.moeda_verde{
    display: flex;
    justify-content: space-between;
    margin: auto;
    img{
        width: 500px;
        height: 350px;
        border-radius: 20px;
        margin-left: 100px;
    }
}
#moeda{
    width: 500px;
    margin-right: 100px;
    h2{
        font-size: 22px;
        color: rgba(2, 62, 138, 1);
    }
    h3{
        font-size: 14px;
    }
    #link_moeda{
        align-items: center;
        display: flex;
        justify-content:center;
        margin-top: 100px;
        border: 1px solid #38b000;
        border-radius: 20px;
        width: 200px;
        background-color: #38b000;
        height: 40px;
        a{
            color: white;
            padding-right: 20px;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }    
    }
}
.parceiro{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 100px;
    img{
        width: 500px;
        height: 350px;
        border-radius: 20px;
        margin-left: 100px;
    }
}
#parce{
    width: 500px;
    margin-right: 100px;
    h2{
        font-size: 22px;
        color: rgba(2, 62, 138, 1);
    }
    h3{
        font-size: 14px;
    }
    #link_parce{
        align-items: center;
        display: flex;
        justify-content:center;
        margin-top: 100px;
        border: 1px solid #38b000;
        border-radius: 20px;
        width: 200px;
        background-color: #38b000;
        height: 40px;
        a{
            color: white;
            padding-right: 20px;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }
    }
}
.mudanca{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 100px;
    img{
        width: 500px;
        height: 350px;
        border-radius: 20px;
        margin-left: 100px;
    }
}
#mudan{
    width: 500px;
    margin-right: 100px;
    h2{
        font-size: 22px;
        color: rgba(2, 62, 138, 1);
    }
    h3{
        font-size: 14px;
    }    
    #link_mudan{
        align-items: center;
        display: flex;
        justify-content:center;
        margin-top: 100px;
        border: 1px solid #38b000;
        border-radius: 20px;
        width: 200px;
        background-color: #38b000;
        height: 40px;
        a{
            color: white;
            padding-right: 20px;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }
    }
}
