
/* reset css c/ seletor universal para padronizar os elementos*/
*{
    margin: 0;
    padding: 0;
    
}

/* Conteúdo principal dentro do body */
main{
    background:
    linear-gradient(rgba(226, 223, 223, 0.897), rgba(255, 255, 255, 0.5)),
    url(/imagens/imagem-fundo-login.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
/* Formulario */
#form-login{
    background-color: #38B000;
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 50px;
    border-radius: 20px;
    text-align: center;
    opacity: 0.8;
}

/*labels e inputs do formulário */
label, input{
    display: block;
    width: 100%;
    text-align: left;
    border: none;
   
}

/* Todas as labels do forumário */
label{
    font-weight: bold;
    font-size: .8rem;
}

/* Todos inputs do forumário */
input{
  
    padding: 5px;
    font-size: 1rem;
    border-bottom: 2px solid #323232;
    border-radius: 5px;
}

/*  link quando o usúario esquecer a senha, redefini-la */
a#link-esqueceu-senha{
    text-align: right;
    display: block;
    font-size: 12px; 
}


/* Botão para entrar na sua conta cadastrada */ 
button[type="button"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}
